<!-- app/views/users/login.html.erb -->
<h1>Log in</h1>
<%= form_tag :action => 'process_login' %>
<p> 
<%= label_tag :Username %><br /> 
<%= text_field_tag :email, params[:email] %> *case sensitive*
</p> 
<p> 
<%= label_tag :password %><br /> 
<%= password_field_tag :password %> *case sensitive*
</p> 
<%= submit_tag "log in"%> <br   />
